@model IEnumerable<BandMadness.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Songs</h2>

<p>
	@{ Html.RenderPartial("_Create",new Song());}
</p>
<table class="table table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { SongID=item.SongID })

        </td>
    </tr>
}

</table>
