@using BandMadness.Models;

	@model IEnumerable<Song>

		@{
			ViewBag.Title = "Index";
		}

		<h2>Song List</h2>
		<div>
			<ul>
				@foreach(Song song in Model)
				{
					@Html.ActionLink(song.Title, "Details");
				}
			</ul>
		</div>

