@model BandMadness.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>Member Details</h2>
<table style="font-family:Arial">
	<tr>
		<td>First Name :</td>
		<td>@Model.FirstName</td>
	</tr>
	<tr>
		<td>Last Name :</td>
		<td>@Model.LastName</td>

	</tr>
</table>


