@model IEnumerable<Instrument>
@{
    ViewBag.Title = "Index";
}

<h2>Instruments</h2>


<p>
	@{ Html.RenderPartial("_Create", new Instrument());}
</p>
<table class="table table-responsive table-hover">
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { InstrumentID = item.InstrumentID })

			</td>
		</tr>
	}

</table>