@using BandMadness.Models;
@model IEnumerable<Instrument>

<table>
	@foreach (var i in Model==null ?  new BMContext().Instruments.ToList(): Model)
	{
		<tr>
			<td>@{Html.RenderPartial("_ShowInstrument", i);}</td>
			<td>
				<table>
					@foreach (var m in i.Members == null ? new List<Member>() : i.Members)
					{
						<tr>
							<td>
								@{Html.RenderPartial("_ShowMember", m);}
							</td>
						</tr>
					}
				</table>
			</td>
		</tr>
	}
</table>
